<div class="icon-group">
    <div class='alayman-icon' title="A Layman" (click)="navigate('https://daily-learning.herokuapp.com/')">
        <img src='https://raw.githubusercontent.com/JenHsuan/ALayman/master/views/images/alaymanicon.png'>
    </div>
    <div class='fb-icon' title="Facebook" (click)="navigate('https://www.facebook.com/imalayman')">
        <img src='https://raw.githubusercontent.com/JenHsuan/ALayman/master/views/images/facebook.png'>
    </div>
    <div class='doc-icon' title="API documents" (click)="navigate('https://daily-learning-news-editor.herokuapp.com/docs/')">
        <i class="fa fa-solid fa-file"></i>
    </div>
</div>
