.main-container {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    label {
        display:block;
        margin-bottom: 0.1em;
        font-size: 18px;
    }
    input {
        width: 300px;
        outline: 0;
        font-size: 18px;
        line-height: 18px;
        padding: 0.3em;
    }
    input:focus {
        box-shadow: 1px 2px 1px #996;
    }
    .field {
        margin: .7em;
        font-size: 16px;
    }
    .control-field {
        margin: 1.5em 0.5em;
        display: flex;
        justify-content: space-evenly;
    }
    button {
        outline: 0;
        display: inline-block;
        width: 100%;
        font-size: 18px;
        line-height: 18px;
        padding: 1em;
        cursor: pointer;
    }
}

.warn-message {
    color: red;
    text-align: center;
}

.controls {
    margin: .5em;
    margin-top: 3em;
}

.mailForm {
}
h2 {
    text-align: center;
}
