.warn-message {
    color: red;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

.success-message {
    color: green;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}
